workflows/UTL_TelegramRecordingIndicator.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Keep recording indicator active",
        "height": 256,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        0
      ],
      "typeVersion": 1,
      "id": "ce2a96d4-5ce8-45d9-81e7-fad5321428e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "amount": "=5"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        64
      ],
      "id": "882d0d1b-bf1d-4169-9505-8ace1ed33a38",
      "name": "5000ms",
      "webhookId": "ed926534-45a6-49ba-a10a-0ad31f524529"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Trigger').item.json.message.chat.id }}",
        "action": "record_audio"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        64
      ],
      "id": "1daad3a8-90e5-4b3b-8bd5-532d4f7bbede",
      "name": "Recording indicator",
      "webhookId": "33426bcb-d3eb-4620-a282-68301a3281bc",
      "credentials": {
        "telegramApi": {
          "id": "S2V9BbqgghM1McJ5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        64
      ],
      "id": "c51bbcd2-0537-40f9-a067-e93b2d6515f7",
      "name": "Trigger"
    }
  ],
  "connections": {
    "5000ms": {
      "main": [
        [
          {
            "node": "Recording indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recording indicator": {
      "main": [
        [
          {
            "node": "5000ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Recording indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "54d00e049b1cac29d0ca14ad746de236ffb3e85c2d24d6c293bec1a5142ddd16"
  }
}